{%  extends "views/layout/base.njk"%}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Start date
                </th>
                <th>
                    End date
                </th>
                <th>
                    Price
                </th>
                <th>
                    Car
                </th>
                <th>
                    User
                </th>
                <th>
                    Details
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr data-id="{{ car.id }}">
                    <td>
                        {{ reservation.id }}
                    </td>
                    <td>
                        {{ reservation.startDate }}
                    </td>
                    <td>
                        {{ reservation.endDate }}
                    </td>
                    <td>
                        {{ reservation.price }}
                    </td>
                    <td>
                        {{ reservation.carId }}
                    </td>
                    <td>
                        {{ reservation.userId }}
                    </td>
                    <td>
                        <a href="/reservation/view/{{ reservation.id }}">
                            <i class="fas fa-search"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/reservation/edit/{{ reservation.id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/reservation/delete/{{ reservation.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}