<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Webpage description goes here" />
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/index.css">
    {% block styles %}{% endblock %}
    <meta name="author" content="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <div class="is-size-3 is-size-5-mobile">Car Rental Agency</div>
            </div>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>





        <div id="navBar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/car/add">
                    Add car
                </a>

                <a class="navbar-item" href="/car/list">
                    Manage cars
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <!--Navbar right side -->
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}


    <script type="text/javascript" src="/js/navbarToggle.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>