{%  extends "views/layout/base.njk"%}
{% block body %}
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Kms
                        </th>
                        <th>
                            Color
                        </th>
                        <th>
                            Air Conditioner
                        </th>
                        <th>
                            Max passengers
                        </th>
                        <th>
                            Automatic
                        </th>
                        <th>
                            $/day
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                    <tr data-id="{{ car.id }}">
                        <td>
                            {{ car.id }}
                        </td>
                        <td>
                            {{ car.brand }}
                        </td>
                        <td>
                            {{ car.model }}
                        </td>
                        <td>
                            {{ car.year }}
                        </td>
                        <td>
                            {{ car.kms }}
                        </td>
                        <td>
                            {{ car.color }}
                        </td>
                        <td>
                            {% if car.airConditioner %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            {{ car.passengerMax }}
                        </td>
                        <td>
                            {% if car.automatic %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            {{ car.price }}
                        </td>
                        <td>
                            <a href="/car/view/{{ car.id }}">
                                <i class="fas fa-search"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/car/edit/{{ car.id }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/car/delete/{{ car.id }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}